---
import BaseLayout from '@/layouts/BaseLayout'
import ListPosts from '@/components/ListPosts'
import ListCategories from '@/components/ListCategories'
import TitlePage from '@/components/TitlePage'
import { sluglify, unsluglify, getCategories, getPosts } from '@/utils'
import { siteConfig } from '@/data/site.config'
import Pagination from '@/components/Pagination'

export async function getStaticPaths({ paginate }: any) {
	const categories = await getCategories()
	const allPosts = await getPosts()

	return categories.flatMap((category: string) => {
		const unsluglifyNameCategory = unsluglify(category!.toLowerCase())
		const filteredPosts = allPosts.filter(
			(post) => post.data.category.toLowerCase() === unsluglifyNameCategory
		)

		return paginate(filteredPosts, {
			params: {
				category: sluglify(category.toLowerCase())
			},
			pageSize: siteConfig.paginationSize
		})
	})
}
const params = Astro.params
const { page } = Astro.props

const unsluglifyNameCategory = unsluglify(params.category!.toLowerCase())
const posts = page.data
---

<BaseLayout title={params.category}>
	<TitlePage title={unsluglifyNameCategory} />
	{
		params.category == 'portfolio' && (
			<>
				<h2 class='text-lg font-medium tracking-wide'>
					Hi, I'm Aryan Rahman, a full-stack software engineer, I find joy in building products that
					delight users and solve actual pain points in people's lives. This means working with any
					technology or any part of the stack(including infra) to figure it out! I love taking
					ownership of my work and finding new directions where the product can go.
				</h2>

				<h2 class='text-lg font-medium tracking-wide'>
					This page contains a quick summary about my work(see first blog) and a few case studies.
					You can find my other blogs in the other categories.
				</h2>
			</>
		)
	}
	<ListCategories activeCategory={params.category} />
	<ListPosts posts={posts} FirstBig={true} activeCategory={params.category} />
	<Pagination page={page} />
</BaseLayout>
